/* Font 'Outfit' importé avec @import */
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* mon Reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variable pour les couleurs */
:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--GrayishBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

main {
  background-color: var(--White);
  padding: 1rem 1rem 1rem 1rem;
  width: 22.5rem; /* Equivalent à 360px */
  height: 34.375rem; /* Equivalent à 550px */
  border-radius: 1rem; /* Equivalent à 16px */
  text-align: center;
  transition: box-shadow 0.5s;
}
main:hover {
  box-shadow: 0px 11px 39px 9px hsl(210, 30%, 78%);
}

/* Modification par rapport à l'image originel pour un meilleur rendu Responsive */
main img {
  width: 20.313rem; /* Equivalent à 325px */
  border-radius: 1rem; /* Equivalent à 16px */
}

/* La partie Texte */
h1 {
  margin: 1.25rem 0; /* Equivalent à 20px */
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  margin-top: 1.25rem; /* Equivalent à 20px */
  font-weight: 400;
  color: hsl(212, 45%, 89%);
}

/* La partie sous la Carte */
footer {
  padding-top: 0.313rem; /* Equivalent à 5px */
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.05rem;
  color: #fff;
}
footer a {
  color: rgba(45, 125, 251, 255); /* <= Same color as the main image */
}
footer a:hover {
  font-weight: bold;
}